/* styles/custom.css */

.product-card {
    border: 1px solid #ff3b00;
    padding: 16px;
    border-radius: 8px;
    background-color: #f3efe7;
  }
  
  .product-info {
    margin-bottom: 16px;
  }
  
  .product-title {
    color: #ff3b00;
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .product-description {
    color: #383838a2;
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .product-image-container {
    border-top: 1px solid #ff3b00;
    border-bottom: 1px solid #ff3b00;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 16px;
  }
  
  .product-price-container {
    border-top: 1px solid #ff3b00;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-price {
    color: #ff3b00;
    font-size: 24px;
    font-weight: 600;
  }
  
  .product-link {
    color: #4d473deb;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .product-link:hover {
    color: #ff0000;
  }
  